.search-box {
    background-color: #fff;
    width:25rem;
    margin: auto;
    border-radius: 0.2rem;
    box-shadow: 0.05rem 0.05rem 0.1rem #666;
}
.search {
    display: flex;
    position: relative;
    left: 0;
    top: 0;
    width: 25rem;
    margin: auto;
}
.input-box {
    width: 23rem;
    height: auto;
    padding: 0 0.5rem 0 0.2rem;
    color: #111;
    font-size:1.5rem;
    border-radius: 0.2rem;
    border: 0;
//  box-shadow: 0.05rem 0.05rem 0.05rem #666;
    outline: none;
}
.icon {
    margin-right: 0.5rem;
    fill: #999;
    margin-right: 0.5rem ;
    height: 1.5rem;
    width: 1.5rem;
    background: url("/static/img/search.png");
}
