<!DOCTYPE html>
<html lang="en" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/list.css" type="text/css" ref="stylesheet">
</head>
<body>
<div class="list">
    <div class="hit-list">
<!--        <div>-->
<!--            <div th:if="${SearchResult.totalNums} == 0">-->
<!--                <div class="" style="margin-top: 1.8rem" >-->
<!--                    没有相关内容，试试其他关键词吧~-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->


        <div class="hit-item">

                <a class="title">将链接的画面内容，在新的浏览视窗中打开。即：打开新窗口。</a>
                <div class="content" >aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>


        </div>

    </div>
</div>
</body>
</html>