<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

        .tips {
            text-align: left;
            padding-left: 2rem;
        }
        .some-tips{

        }
        .tool{
           border-bottom: 1px solid #999;
        }

    </style>
</head>
<body>
<div class="some-tips" >
    <div class="tips" >
        找到约{{SearchResult.totalNums}}个结果(用时{{SearchResult.searchCostTime}}秒)
    </div>
</div>
</body>
</html>